/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_base64.scss */
.background-pattern, body {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAPFBMVEXk5OT+/v7////19fXj4+Pj5Obz9Pbi4+Xl5eXk5ef09ff19vj09PTk5Obi5OP09vXl5ef///3z9fTj5eSoN8hiAAABJ0lEQVR42j1RC3YEIQgLODo/p7tt73/XJqTr42GUgBAFAols6XVLyB0p6zTtR+5cD64nM64AGhmzQxjIq85E+crsqow7uCOeeQHxyezFNkYHsTsjtN+yc6fblXHXJAAYGeQ81zRGM8t4q9U+uS4dwOJs7d8fZ3HWXagpqnYI1QOKecrbExa3xyOdjH+mHOLEEDdyX0BxzrrpNS3xtbRfQWSWcqR3z8nzg02VpaCz65EIsoliUbaV+hY+2SYrG5lDTKl704UIo/8MxooN4qFfRP2xX75s5ulXsK/9/i2ui7UiSN/Fe971mz/OUr4riqsY0a/pSsA9QVPnJ6du8nn9oFB6xc6Pdki5lUyhNVX+i24Fzb3XeSP3C5/UZbGaW1yios0YRnch9wf+hwp1TcnbDAAAAABJRU5ErkJggg==');
}

/* line 1, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/_base.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

/* line 12, ../sass/_base.scss */
h1, p.deck {
  width: 600%;
  float: left;
  margin-right: -100%;
  margin-left: 500%;
  clear: none;
}

/* line 1, ../sass/_scwc.scss */
.page {
  width: 100%;
  overflow: hidden;
}
/* line 4, ../sass/_scwc.scss */
.page .panel-display {
  position: relative;
}
/* line 4, ../sass/_mixins.scss */
.page .panel-display:before, .page .panel-display:after {
  content: " ";
  display: table;
}
/* line 8, ../sass/_mixins.scss */
.page .panel-display:after {
  clear: both;
}
/* line 12, ../sass/_mixins.scss */
.page .panel-display {
  *zoom: 1;
}
/* line 7, ../sass/_scwc.scss */
.page .panel-display .panel-separator {
  display: none;
}
/* line 10, ../sass/_scwc.scss */
.page .panel-display > .panel-pane {
  float: left;
}

/* line 5, ../sass/_theme.scss */
header {
  height: 68px;
  width: 100%;
  position: fixed;
  background-color: #009ee7;
  z-index: 400;
}
/* line 11, ../sass/_theme.scss */
header .header-region {
  width: 1005px;
  margin: 0 auto;
}

/* line 17, ../sass/_theme.scss */
.pane-content-wrapper {
  margin-top: 115px;
  display: inline-block;
}
/* line 20, ../sass/_theme.scss */
.pane-content-wrapper > .panel-pane {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 255, 0.5)), color-stop(100%, rgba(0, 0, 255, 0.5)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 100%);
  background-color: #fff;
  position: relative;
}
@media (min-width: 500px) {
  /* line 20, ../sass/_theme.scss */
  .pane-content-wrapper > .panel-pane {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 255, 0.5)), color-stop(32%, rgba(0, 0, 255, 0.5)), color-stop(32%, rgba(0, 0, 255, 0.25)), color-stop(36%, rgba(0, 0, 255, 0.25)), color-stop(36%, rgba(0, 0, 255, 0.5)), color-stop(100%, rgba(0, 0, 255, 0.5)), color-stop(100%, rgba(0, 0, 255, 0.25)), color-stop(104%, rgba(0, 0, 255, 0.25)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 32%, rgba(0, 0, 255, 0.25) 32%, rgba(0, 0, 255, 0.25) 36%, rgba(0, 0, 255, 0.5) 36%, rgba(0, 0, 255, 0.5) 100%, rgba(0, 0, 255, 0.25) 100%, rgba(0, 0, 255, 0.25) 104%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 32%, rgba(0, 0, 255, 0.25) 32%, rgba(0, 0, 255, 0.25) 36%, rgba(0, 0, 255, 0.5) 36%, rgba(0, 0, 255, 0.5) 100%, rgba(0, 0, 255, 0.25) 100%, rgba(0, 0, 255, 0.25) 104%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 32%, rgba(0, 0, 255, 0.25) 32%, rgba(0, 0, 255, 0.25) 36%, rgba(0, 0, 255, 0.5) 36%, rgba(0, 0, 255, 0.5) 100%, rgba(0, 0, 255, 0.25) 100%, rgba(0, 0, 255, 0.25) 104%);
    background-image: linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 32%, rgba(0, 0, 255, 0.25) 32%, rgba(0, 0, 255, 0.25) 36%, rgba(0, 0, 255, 0.5) 36%, rgba(0, 0, 255, 0.5) 100%, rgba(0, 0, 255, 0.25) 100%, rgba(0, 0, 255, 0.25) 104%);
  }
}
@media (min-width: 700px) {
  /* line 20, ../sass/_theme.scss */
  .pane-content-wrapper > .panel-pane {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 255, 0.5)), color-stop(19.5122%, rgba(0, 0, 255, 0.5)), color-stop(19.5122%, rgba(0, 0, 255, 0.25)), color-stop(21.95122%, rgba(0, 0, 255, 0.25)), color-stop(21.95122%, rgba(0, 0, 255, 0.5)), color-stop(100%, rgba(0, 0, 255, 0.5)), color-stop(100%, rgba(0, 0, 255, 0.25)), color-stop(102.43902%, rgba(0, 0, 255, 0.25)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 19.5122%, rgba(0, 0, 255, 0.25) 19.5122%, rgba(0, 0, 255, 0.25) 21.95122%, rgba(0, 0, 255, 0.5) 21.95122%, rgba(0, 0, 255, 0.5) 100%, rgba(0, 0, 255, 0.25) 100%, rgba(0, 0, 255, 0.25) 102.43902%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 19.5122%, rgba(0, 0, 255, 0.25) 19.5122%, rgba(0, 0, 255, 0.25) 21.95122%, rgba(0, 0, 255, 0.5) 21.95122%, rgba(0, 0, 255, 0.5) 100%, rgba(0, 0, 255, 0.25) 100%, rgba(0, 0, 255, 0.25) 102.43902%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 19.5122%, rgba(0, 0, 255, 0.25) 19.5122%, rgba(0, 0, 255, 0.25) 21.95122%, rgba(0, 0, 255, 0.5) 21.95122%, rgba(0, 0, 255, 0.5) 100%, rgba(0, 0, 255, 0.25) 100%, rgba(0, 0, 255, 0.25) 102.43902%);
    background-image: linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 19.5122%, rgba(0, 0, 255, 0.25) 19.5122%, rgba(0, 0, 255, 0.25) 21.95122%, rgba(0, 0, 255, 0.5) 21.95122%, rgba(0, 0, 255, 0.5) 100%, rgba(0, 0, 255, 0.25) 100%, rgba(0, 0, 255, 0.25) 102.43902%);
  }
}
@media (min-width: 900px) {
  /* line 20, ../sass/_theme.scss */
  .pane-content-wrapper > .panel-pane {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 255, 0.5)), color-stop(16%, rgba(0, 0, 255, 0.5)), color-stop(16%, rgba(0, 0, 255, 0.25)), color-stop(18%, rgba(0, 0, 255, 0.25)), color-stop(18%, rgba(0, 0, 255, 0.5)), color-stop(82%, rgba(0, 0, 255, 0.5)), color-stop(82%, rgba(0, 0, 255, 0.25)), color-stop(84%, rgba(0, 0, 255, 0.25)), color-stop(84%, rgba(0, 0, 255, 0.5)), color-stop(100%, rgba(0, 0, 255, 0.5)), color-stop(100%, rgba(0, 0, 255, 0.25)), color-stop(102%, rgba(0, 0, 255, 0.25)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 16%, rgba(0, 0, 255, 0.25) 16%, rgba(0, 0, 255, 0.25) 18%, rgba(0, 0, 255, 0.5) 18%, rgba(0, 0, 255, 0.5) 82%, rgba(0, 0, 255, 0.25) 82%, rgba(0, 0, 255, 0.25) 84%, rgba(0, 0, 255, 0.5) 84%, rgba(0, 0, 255, 0.5) 100%, rgba(0, 0, 255, 0.25) 100%, rgba(0, 0, 255, 0.25) 102%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 16%, rgba(0, 0, 255, 0.25) 16%, rgba(0, 0, 255, 0.25) 18%, rgba(0, 0, 255, 0.5) 18%, rgba(0, 0, 255, 0.5) 82%, rgba(0, 0, 255, 0.25) 82%, rgba(0, 0, 255, 0.25) 84%, rgba(0, 0, 255, 0.5) 84%, rgba(0, 0, 255, 0.5) 100%, rgba(0, 0, 255, 0.25) 100%, rgba(0, 0, 255, 0.25) 102%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 16%, rgba(0, 0, 255, 0.25) 16%, rgba(0, 0, 255, 0.25) 18%, rgba(0, 0, 255, 0.5) 18%, rgba(0, 0, 255, 0.5) 82%, rgba(0, 0, 255, 0.25) 82%, rgba(0, 0, 255, 0.25) 84%, rgba(0, 0, 255, 0.5) 84%, rgba(0, 0, 255, 0.5) 100%, rgba(0, 0, 255, 0.25) 100%, rgba(0, 0, 255, 0.25) 102%);
    background-image: linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 16%, rgba(0, 0, 255, 0.25) 16%, rgba(0, 0, 255, 0.25) 18%, rgba(0, 0, 255, 0.5) 18%, rgba(0, 0, 255, 0.5) 82%, rgba(0, 0, 255, 0.25) 82%, rgba(0, 0, 255, 0.25) 84%, rgba(0, 0, 255, 0.5) 84%, rgba(0, 0, 255, 0.5) 100%, rgba(0, 0, 255, 0.25) 100%, rgba(0, 0, 255, 0.25) 102%);
  }
}
@media (min-width: 1100px) {
  /* line 20, ../sass/_theme.scss */
  .pane-content-wrapper > .panel-pane {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 255, 0.5)), color-stop(4.49438%, rgba(0, 0, 255, 0.5)), color-stop(4.49438%, rgba(0, 0, 255, 0.25)), color-stop(5.61798%, rgba(0, 0, 255, 0.25)), color-stop(5.61798%, rgba(0, 0, 255, 0.5)), color-stop(10.11236%, rgba(0, 0, 255, 0.5)), color-stop(10.11236%, rgba(0, 0, 255, 0.25)), color-stop(11.23596%, rgba(0, 0, 255, 0.25)), color-stop(11.23596%, rgba(0, 0, 255, 0.5)), color-stop(15.73034%, rgba(0, 0, 255, 0.5)), color-stop(15.73034%, rgba(0, 0, 255, 0.25)), color-stop(16.85393%, rgba(0, 0, 255, 0.25)), color-stop(16.85393%, rgba(0, 0, 255, 0.5)), color-stop(21.34831%, rgba(0, 0, 255, 0.5)), color-stop(21.34831%, rgba(0, 0, 255, 0.25)), color-stop(22.47191%, rgba(0, 0, 255, 0.25)), color-stop(22.47191%, rgba(0, 0, 255, 0.5)), color-stop(26.96629%, rgba(0, 0, 255, 0.5)), color-stop(26.96629%, rgba(0, 0, 255, 0.25)), color-stop(28.08989%, rgba(0, 0, 255, 0.25)), color-stop(28.08989%, rgba(0, 0, 255, 0.5)), color-stop(32.58427%, rgba(0, 0, 255, 0.5)), color-stop(32.58427%, rgba(0, 0, 255, 0.25)), color-stop(33.70787%, rgba(0, 0, 255, 0.25)), color-stop(33.70787%, rgba(0, 0, 255, 0.5)), color-stop(38.20225%, rgba(0, 0, 255, 0.5)), color-stop(38.20225%, rgba(0, 0, 255, 0.25)), color-stop(39.32584%, rgba(0, 0, 255, 0.25)), color-stop(39.32584%, rgba(0, 0, 255, 0.5)), color-stop(43.82022%, rgba(0, 0, 255, 0.5)), color-stop(43.82022%, rgba(0, 0, 255, 0.25)), color-stop(44.94382%, rgba(0, 0, 255, 0.25)), color-stop(44.94382%, rgba(0, 0, 255, 0.5)), color-stop(49.4382%, rgba(0, 0, 255, 0.5)), color-stop(49.4382%, rgba(0, 0, 255, 0.25)), color-stop(50.5618%, rgba(0, 0, 255, 0.25)), color-stop(50.5618%, rgba(0, 0, 255, 0.5)), color-stop(55.05618%, rgba(0, 0, 255, 0.5)), color-stop(55.05618%, rgba(0, 0, 255, 0.25)), color-stop(56.17978%, rgba(0, 0, 255, 0.25)), color-stop(56.17978%, rgba(0, 0, 255, 0.5)), color-stop(60.67416%, rgba(0, 0, 255, 0.5)), color-stop(60.67416%, rgba(0, 0, 255, 0.25)), color-stop(61.79775%, rgba(0, 0, 255, 0.25)), color-stop(61.79775%, rgba(0, 0, 255, 0.5)), color-stop(66.29213%, rgba(0, 0, 255, 0.5)), color-stop(66.29213%, rgba(0, 0, 255, 0.25)), color-stop(67.41573%, rgba(0, 0, 255, 0.25)), color-stop(67.41573%, rgba(0, 0, 255, 0.5)), color-stop(71.91011%, rgba(0, 0, 255, 0.5)), color-stop(71.91011%, rgba(0, 0, 255, 0.25)), color-stop(73.03371%, rgba(0, 0, 255, 0.25)), color-stop(73.03371%, rgba(0, 0, 255, 0.5)), color-stop(77.52809%, rgba(0, 0, 255, 0.5)), color-stop(77.52809%, rgba(0, 0, 255, 0.25)), color-stop(78.65169%, rgba(0, 0, 255, 0.25)), color-stop(78.65169%, rgba(0, 0, 255, 0.5)), color-stop(83.14607%, rgba(0, 0, 255, 0.5)), color-stop(83.14607%, rgba(0, 0, 255, 0.25)), color-stop(84.26966%, rgba(0, 0, 255, 0.25)), color-stop(84.26966%, rgba(0, 0, 255, 0.5)), color-stop(88.76404%, rgba(0, 0, 255, 0.5)), color-stop(88.76404%, rgba(0, 0, 255, 0.25)), color-stop(89.88764%, rgba(0, 0, 255, 0.25)), color-stop(89.88764%, rgba(0, 0, 255, 0.5)), color-stop(94.38202%, rgba(0, 0, 255, 0.5)), color-stop(94.38202%, rgba(0, 0, 255, 0.25)), color-stop(95.50562%, rgba(0, 0, 255, 0.25)), color-stop(95.50562%, rgba(0, 0, 255, 0.5)), color-stop(100%, rgba(0, 0, 255, 0.5)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 4.49438%, rgba(0, 0, 255, 0.25) 4.49438%, rgba(0, 0, 255, 0.25) 5.61798%, rgba(0, 0, 255, 0.5) 5.61798%, rgba(0, 0, 255, 0.5) 10.11236%, rgba(0, 0, 255, 0.25) 10.11236%, rgba(0, 0, 255, 0.25) 11.23596%, rgba(0, 0, 255, 0.5) 11.23596%, rgba(0, 0, 255, 0.5) 15.73034%, rgba(0, 0, 255, 0.25) 15.73034%, rgba(0, 0, 255, 0.25) 16.85393%, rgba(0, 0, 255, 0.5) 16.85393%, rgba(0, 0, 255, 0.5) 21.34831%, rgba(0, 0, 255, 0.25) 21.34831%, rgba(0, 0, 255, 0.25) 22.47191%, rgba(0, 0, 255, 0.5) 22.47191%, rgba(0, 0, 255, 0.5) 26.96629%, rgba(0, 0, 255, 0.25) 26.96629%, rgba(0, 0, 255, 0.25) 28.08989%, rgba(0, 0, 255, 0.5) 28.08989%, rgba(0, 0, 255, 0.5) 32.58427%, rgba(0, 0, 255, 0.25) 32.58427%, rgba(0, 0, 255, 0.25) 33.70787%, rgba(0, 0, 255, 0.5) 33.70787%, rgba(0, 0, 255, 0.5) 38.20225%, rgba(0, 0, 255, 0.25) 38.20225%, rgba(0, 0, 255, 0.25) 39.32584%, rgba(0, 0, 255, 0.5) 39.32584%, rgba(0, 0, 255, 0.5) 43.82022%, rgba(0, 0, 255, 0.25) 43.82022%, rgba(0, 0, 255, 0.25) 44.94382%, rgba(0, 0, 255, 0.5) 44.94382%, rgba(0, 0, 255, 0.5) 49.4382%, rgba(0, 0, 255, 0.25) 49.4382%, rgba(0, 0, 255, 0.25) 50.5618%, rgba(0, 0, 255, 0.5) 50.5618%, rgba(0, 0, 255, 0.5) 55.05618%, rgba(0, 0, 255, 0.25) 55.05618%, rgba(0, 0, 255, 0.25) 56.17978%, rgba(0, 0, 255, 0.5) 56.17978%, rgba(0, 0, 255, 0.5) 60.67416%, rgba(0, 0, 255, 0.25) 60.67416%, rgba(0, 0, 255, 0.25) 61.79775%, rgba(0, 0, 255, 0.5) 61.79775%, rgba(0, 0, 255, 0.5) 66.29213%, rgba(0, 0, 255, 0.25) 66.29213%, rgba(0, 0, 255, 0.25) 67.41573%, rgba(0, 0, 255, 0.5) 67.41573%, rgba(0, 0, 255, 0.5) 71.91011%, rgba(0, 0, 255, 0.25) 71.91011%, rgba(0, 0, 255, 0.25) 73.03371%, rgba(0, 0, 255, 0.5) 73.03371%, rgba(0, 0, 255, 0.5) 77.52809%, rgba(0, 0, 255, 0.25) 77.52809%, rgba(0, 0, 255, 0.25) 78.65169%, rgba(0, 0, 255, 0.5) 78.65169%, rgba(0, 0, 255, 0.5) 83.14607%, rgba(0, 0, 255, 0.25) 83.14607%, rgba(0, 0, 255, 0.25) 84.26966%, rgba(0, 0, 255, 0.5) 84.26966%, rgba(0, 0, 255, 0.5) 88.76404%, rgba(0, 0, 255, 0.25) 88.76404%, rgba(0, 0, 255, 0.25) 89.88764%, rgba(0, 0, 255, 0.5) 89.88764%, rgba(0, 0, 255, 0.5) 94.38202%, rgba(0, 0, 255, 0.25) 94.38202%, rgba(0, 0, 255, 0.25) 95.50562%, rgba(0, 0, 255, 0.5) 95.50562%, rgba(0, 0, 255, 0.5) 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 4.49438%, rgba(0, 0, 255, 0.25) 4.49438%, rgba(0, 0, 255, 0.25) 5.61798%, rgba(0, 0, 255, 0.5) 5.61798%, rgba(0, 0, 255, 0.5) 10.11236%, rgba(0, 0, 255, 0.25) 10.11236%, rgba(0, 0, 255, 0.25) 11.23596%, rgba(0, 0, 255, 0.5) 11.23596%, rgba(0, 0, 255, 0.5) 15.73034%, rgba(0, 0, 255, 0.25) 15.73034%, rgba(0, 0, 255, 0.25) 16.85393%, rgba(0, 0, 255, 0.5) 16.85393%, rgba(0, 0, 255, 0.5) 21.34831%, rgba(0, 0, 255, 0.25) 21.34831%, rgba(0, 0, 255, 0.25) 22.47191%, rgba(0, 0, 255, 0.5) 22.47191%, rgba(0, 0, 255, 0.5) 26.96629%, rgba(0, 0, 255, 0.25) 26.96629%, rgba(0, 0, 255, 0.25) 28.08989%, rgba(0, 0, 255, 0.5) 28.08989%, rgba(0, 0, 255, 0.5) 32.58427%, rgba(0, 0, 255, 0.25) 32.58427%, rgba(0, 0, 255, 0.25) 33.70787%, rgba(0, 0, 255, 0.5) 33.70787%, rgba(0, 0, 255, 0.5) 38.20225%, rgba(0, 0, 255, 0.25) 38.20225%, rgba(0, 0, 255, 0.25) 39.32584%, rgba(0, 0, 255, 0.5) 39.32584%, rgba(0, 0, 255, 0.5) 43.82022%, rgba(0, 0, 255, 0.25) 43.82022%, rgba(0, 0, 255, 0.25) 44.94382%, rgba(0, 0, 255, 0.5) 44.94382%, rgba(0, 0, 255, 0.5) 49.4382%, rgba(0, 0, 255, 0.25) 49.4382%, rgba(0, 0, 255, 0.25) 50.5618%, rgba(0, 0, 255, 0.5) 50.5618%, rgba(0, 0, 255, 0.5) 55.05618%, rgba(0, 0, 255, 0.25) 55.05618%, rgba(0, 0, 255, 0.25) 56.17978%, rgba(0, 0, 255, 0.5) 56.17978%, rgba(0, 0, 255, 0.5) 60.67416%, rgba(0, 0, 255, 0.25) 60.67416%, rgba(0, 0, 255, 0.25) 61.79775%, rgba(0, 0, 255, 0.5) 61.79775%, rgba(0, 0, 255, 0.5) 66.29213%, rgba(0, 0, 255, 0.25) 66.29213%, rgba(0, 0, 255, 0.25) 67.41573%, rgba(0, 0, 255, 0.5) 67.41573%, rgba(0, 0, 255, 0.5) 71.91011%, rgba(0, 0, 255, 0.25) 71.91011%, rgba(0, 0, 255, 0.25) 73.03371%, rgba(0, 0, 255, 0.5) 73.03371%, rgba(0, 0, 255, 0.5) 77.52809%, rgba(0, 0, 255, 0.25) 77.52809%, rgba(0, 0, 255, 0.25) 78.65169%, rgba(0, 0, 255, 0.5) 78.65169%, rgba(0, 0, 255, 0.5) 83.14607%, rgba(0, 0, 255, 0.25) 83.14607%, rgba(0, 0, 255, 0.25) 84.26966%, rgba(0, 0, 255, 0.5) 84.26966%, rgba(0, 0, 255, 0.5) 88.76404%, rgba(0, 0, 255, 0.25) 88.76404%, rgba(0, 0, 255, 0.25) 89.88764%, rgba(0, 0, 255, 0.5) 89.88764%, rgba(0, 0, 255, 0.5) 94.38202%, rgba(0, 0, 255, 0.25) 94.38202%, rgba(0, 0, 255, 0.25) 95.50562%, rgba(0, 0, 255, 0.5) 95.50562%, rgba(0, 0, 255, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 4.49438%, rgba(0, 0, 255, 0.25) 4.49438%, rgba(0, 0, 255, 0.25) 5.61798%, rgba(0, 0, 255, 0.5) 5.61798%, rgba(0, 0, 255, 0.5) 10.11236%, rgba(0, 0, 255, 0.25) 10.11236%, rgba(0, 0, 255, 0.25) 11.23596%, rgba(0, 0, 255, 0.5) 11.23596%, rgba(0, 0, 255, 0.5) 15.73034%, rgba(0, 0, 255, 0.25) 15.73034%, rgba(0, 0, 255, 0.25) 16.85393%, rgba(0, 0, 255, 0.5) 16.85393%, rgba(0, 0, 255, 0.5) 21.34831%, rgba(0, 0, 255, 0.25) 21.34831%, rgba(0, 0, 255, 0.25) 22.47191%, rgba(0, 0, 255, 0.5) 22.47191%, rgba(0, 0, 255, 0.5) 26.96629%, rgba(0, 0, 255, 0.25) 26.96629%, rgba(0, 0, 255, 0.25) 28.08989%, rgba(0, 0, 255, 0.5) 28.08989%, rgba(0, 0, 255, 0.5) 32.58427%, rgba(0, 0, 255, 0.25) 32.58427%, rgba(0, 0, 255, 0.25) 33.70787%, rgba(0, 0, 255, 0.5) 33.70787%, rgba(0, 0, 255, 0.5) 38.20225%, rgba(0, 0, 255, 0.25) 38.20225%, rgba(0, 0, 255, 0.25) 39.32584%, rgba(0, 0, 255, 0.5) 39.32584%, rgba(0, 0, 255, 0.5) 43.82022%, rgba(0, 0, 255, 0.25) 43.82022%, rgba(0, 0, 255, 0.25) 44.94382%, rgba(0, 0, 255, 0.5) 44.94382%, rgba(0, 0, 255, 0.5) 49.4382%, rgba(0, 0, 255, 0.25) 49.4382%, rgba(0, 0, 255, 0.25) 50.5618%, rgba(0, 0, 255, 0.5) 50.5618%, rgba(0, 0, 255, 0.5) 55.05618%, rgba(0, 0, 255, 0.25) 55.05618%, rgba(0, 0, 255, 0.25) 56.17978%, rgba(0, 0, 255, 0.5) 56.17978%, rgba(0, 0, 255, 0.5) 60.67416%, rgba(0, 0, 255, 0.25) 60.67416%, rgba(0, 0, 255, 0.25) 61.79775%, rgba(0, 0, 255, 0.5) 61.79775%, rgba(0, 0, 255, 0.5) 66.29213%, rgba(0, 0, 255, 0.25) 66.29213%, rgba(0, 0, 255, 0.25) 67.41573%, rgba(0, 0, 255, 0.5) 67.41573%, rgba(0, 0, 255, 0.5) 71.91011%, rgba(0, 0, 255, 0.25) 71.91011%, rgba(0, 0, 255, 0.25) 73.03371%, rgba(0, 0, 255, 0.5) 73.03371%, rgba(0, 0, 255, 0.5) 77.52809%, rgba(0, 0, 255, 0.25) 77.52809%, rgba(0, 0, 255, 0.25) 78.65169%, rgba(0, 0, 255, 0.5) 78.65169%, rgba(0, 0, 255, 0.5) 83.14607%, rgba(0, 0, 255, 0.25) 83.14607%, rgba(0, 0, 255, 0.25) 84.26966%, rgba(0, 0, 255, 0.5) 84.26966%, rgba(0, 0, 255, 0.5) 88.76404%, rgba(0, 0, 255, 0.25) 88.76404%, rgba(0, 0, 255, 0.25) 89.88764%, rgba(0, 0, 255, 0.5) 89.88764%, rgba(0, 0, 255, 0.5) 94.38202%, rgba(0, 0, 255, 0.25) 94.38202%, rgba(0, 0, 255, 0.25) 95.50562%, rgba(0, 0, 255, 0.5) 95.50562%, rgba(0, 0, 255, 0.5) 100%);
    background-image: linear-gradient(left, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5) 4.49438%, rgba(0, 0, 255, 0.25) 4.49438%, rgba(0, 0, 255, 0.25) 5.61798%, rgba(0, 0, 255, 0.5) 5.61798%, rgba(0, 0, 255, 0.5) 10.11236%, rgba(0, 0, 255, 0.25) 10.11236%, rgba(0, 0, 255, 0.25) 11.23596%, rgba(0, 0, 255, 0.5) 11.23596%, rgba(0, 0, 255, 0.5) 15.73034%, rgba(0, 0, 255, 0.25) 15.73034%, rgba(0, 0, 255, 0.25) 16.85393%, rgba(0, 0, 255, 0.5) 16.85393%, rgba(0, 0, 255, 0.5) 21.34831%, rgba(0, 0, 255, 0.25) 21.34831%, rgba(0, 0, 255, 0.25) 22.47191%, rgba(0, 0, 255, 0.5) 22.47191%, rgba(0, 0, 255, 0.5) 26.96629%, rgba(0, 0, 255, 0.25) 26.96629%, rgba(0, 0, 255, 0.25) 28.08989%, rgba(0, 0, 255, 0.5) 28.08989%, rgba(0, 0, 255, 0.5) 32.58427%, rgba(0, 0, 255, 0.25) 32.58427%, rgba(0, 0, 255, 0.25) 33.70787%, rgba(0, 0, 255, 0.5) 33.70787%, rgba(0, 0, 255, 0.5) 38.20225%, rgba(0, 0, 255, 0.25) 38.20225%, rgba(0, 0, 255, 0.25) 39.32584%, rgba(0, 0, 255, 0.5) 39.32584%, rgba(0, 0, 255, 0.5) 43.82022%, rgba(0, 0, 255, 0.25) 43.82022%, rgba(0, 0, 255, 0.25) 44.94382%, rgba(0, 0, 255, 0.5) 44.94382%, rgba(0, 0, 255, 0.5) 49.4382%, rgba(0, 0, 255, 0.25) 49.4382%, rgba(0, 0, 255, 0.25) 50.5618%, rgba(0, 0, 255, 0.5) 50.5618%, rgba(0, 0, 255, 0.5) 55.05618%, rgba(0, 0, 255, 0.25) 55.05618%, rgba(0, 0, 255, 0.25) 56.17978%, rgba(0, 0, 255, 0.5) 56.17978%, rgba(0, 0, 255, 0.5) 60.67416%, rgba(0, 0, 255, 0.25) 60.67416%, rgba(0, 0, 255, 0.25) 61.79775%, rgba(0, 0, 255, 0.5) 61.79775%, rgba(0, 0, 255, 0.5) 66.29213%, rgba(0, 0, 255, 0.25) 66.29213%, rgba(0, 0, 255, 0.25) 67.41573%, rgba(0, 0, 255, 0.5) 67.41573%, rgba(0, 0, 255, 0.5) 71.91011%, rgba(0, 0, 255, 0.25) 71.91011%, rgba(0, 0, 255, 0.25) 73.03371%, rgba(0, 0, 255, 0.5) 73.03371%, rgba(0, 0, 255, 0.5) 77.52809%, rgba(0, 0, 255, 0.25) 77.52809%, rgba(0, 0, 255, 0.25) 78.65169%, rgba(0, 0, 255, 0.5) 78.65169%, rgba(0, 0, 255, 0.5) 83.14607%, rgba(0, 0, 255, 0.25) 83.14607%, rgba(0, 0, 255, 0.25) 84.26966%, rgba(0, 0, 255, 0.5) 84.26966%, rgba(0, 0, 255, 0.5) 88.76404%, rgba(0, 0, 255, 0.25) 88.76404%, rgba(0, 0, 255, 0.25) 89.88764%, rgba(0, 0, 255, 0.5) 89.88764%, rgba(0, 0, 255, 0.5) 94.38202%, rgba(0, 0, 255, 0.25) 94.38202%, rgba(0, 0, 255, 0.25) 95.50562%, rgba(0, 0, 255, 0.5) 95.50562%, rgba(0, 0, 255, 0.5) 100%);
  }
}
