
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */


/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */


/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */


/*
 * Smartphone sizes and down
 */
@media only screen and (max-width: 480px) {
  
  /* 
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   * 
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */ 
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }

  .node-article .two-33-66 {
    display:   -moz-box; /* Firefox */
    display:-webkit-box; /* Safari and Chrome */
    display:        box;
            box-orient: vertical;
    -webkit-box-orient: vertical;
       -moz-box-orient: vertical;
  }

  .node-article h3 {
    margin: 40px 10px 10px;
  }

  .node-article .region-two-33-66-first {
    text-align:left;
    -moz-box-ordinal-group:3; /* Firefox */
 -webkit-box-ordinal-group:3; /* Safari and Chrome */
         box-ordinal-group:3;
    margin-top:-1em;
    font-size:80%;     
  }

  .field-name-post-date:before {
    content: "\2014 ";
  }

  .node-article .region-two-33-66-second {
    -moz-box-ordinal-group:2; /* Firefox */
 -webkit-box-ordinal-group:2; /* Safari and Chrome */
         box-ordinal-group:2;
  }

  .node-article .region-two-33-66-top {
    -moz-box-ordinal-group:1; /* Firefox */
 -webkit-box-ordinal-group:1; /* Safari and Chrome */
         box-ordinal-group:1;
  }

  .node-article .region-two-33-66-first > div,
  .node-article .region-two-33-66-second > div {
    margin: 0 10px;
  }

  .node-article .region-two-33-66-first .field {
    display: inline-block;
    float: left;
    margin-right:1em;
  }

  p {
    margin: 0 0 1em 0;
  }

}


/*
 * Tablet sizes and up
 */
/* @media only screen and (min-width: 768px) {} */


/*
 * Desktops/laptops and up
 */
/* @media only screen and (min-width: 1025px) {} */
