body{
  @extend .background-pattern;
}

header{
  height:68px;
  width:100%;
  position:fixed;
  background-color:#009ee7;
  z-index:400;
  .header-region{
    width:1005px;
    margin:0 auto;
  }
}

.pane-content-wrapper{
  margin-top:115px;
  display: inline-block;
  > .panel-pane{
    width:75%;
    margin-left: auto;
    margin-right: auto;
    @include background-grid($color: blue);
    background-color:#fff;
    position: relative;
  }
}