$grids: 1;
//$grids: add-grid(2 4 at 500px);
$grids: add-grid(6 at 700px);
$grids: add-grid(47px 47px 280px 140px 280px 47px 47px at 1280px);
//$grids: add-grid(18 at 1100px);

$gutters: 0;
//$gutters: add-gutter(.5 at 900px);


body{
  @extend .background-pattern;
}

header{
  height:68px;
  width:100%;
  position:fixed;
  background-color:#009ee7;
  z-index:400;
  .header-region{
    width:1005px;
    margin:0 auto;
  }
}

.pane-content-wrapper{
  margin-top:115px;
  display: inline-block;
  > .panel-pane{
    max-width:888px;
    margin-left: auto;
    margin-right: auto;
    @include background-grid($color: blue);
    background-color:#fff;
    position: relative;
    border: 10px solid #dae1e6;
  }
}


h1 {
  @include grid-span(5, 2, (47px 47px 280px 140px 280px 47px 47px));
  background: green;
  @include clearfix;
  padding: 10px 0;
  font-size: 2em;
}

p.deck {
  @include grid-span(5, 2, (47px 47px 280px 140px 280px 47px 47px));
  background: yellow;
  @include clearfix;
  clear:both;
}

.field-name-body div {
  @include clearfix;
  clear:both;
}





