@import "singularitygs";


$grids: 1;
$grids: add-grid(2 4 at 500px);
$grids: add-grid(2 8 at 700px);
$grids: add-grid(2 8 2 at 900px);
$grids: add-grid(18 at 1100px);

$gutters: 1/4;
$gutters: add-gutter(.25 at 900px);